<div style="width: 240px">
  <nav>
    <h3>Form Controls </h3>
    <ul>
      <!--template bindings={}-->
      <li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/autocomplete">
            Autocomplete
          </a>
      </li>
      <li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/checkbox" class="">
             fjftu frtfuh fjrtu  ryr rt ruru 6ru r6u t6ru ru u r
          </a>
      </li>
      <li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/input">
            Input
          </a>
      </li>
      <li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/radio">
            Radio button
          </a>
      </li>
      <li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/select">
            Select
          </a>
      </li>
      <li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/slider">
            Slider
          </a>
      </li>
      <li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/slide-toggle">
            Slide toggle
          </a>
      </li>
    </ul>
  </nav>
  <nav>
    <h3>Navigation</h3>
    <ul>
      <!--template bindings={}-->
      <li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/menu">
            Menu
          </a>
      </li>
      <li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/sidenav" class="docs-component-viewer-sidenav-item-selected">
            Sidenav
          </a>
      </li>
      <li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/toolbar">
            Toolbar
          </a>
      </li>
    </ul>
  </nav>
</div>