<div style="width: 240px">
  <nav>
    <div *ngIf="navData.brands.length > 0">
      <h3>Brand</h3>
      <ul>
        <li *ngFor="let brand of navData.brands; let i = index;">
          <a [routerLink]="brand.link"> {{brand.label}}</a>
        </li>
      </ul>
    </div>
    <div *ngIf="navData.priceRanges.length > 0">
      <h3>Brand</h3>
      <ul>
        <li *ngFor="let priceRange of navData.priceRanges; let i = index;">
          <a [routerLink]="priceRange.link"> {{priceRange.label}}</a>
        </li>
      </ul>
    </div>

    
  </nav>
</div>