<div class="form-container">
  <a routerLink="/login" id="goback">Go back</a>

  <h2>Join now</h2>

  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <md-input-container class="">
      <input mdInput placeholder="Email Address" (ngModel)="email" name="email" required>
    </md-input-container>
    <md-input-container class="">
      <input mdInput placeholder="Password" type="password" (ngModel)="password" name="password" required>
    </md-input-container>
    <button md-raised-button type="submit" [disabled]="!formData.valid" class="submit-btn my-3">Create my account</button>
  </form>
</div>