<div class=" container-fluid px-3 py-2">
  <div class="row px -3">
    <div *ngFor="let item of productList" class="col-sp-12 col-md-6 col-lg-3 p-1">
      <div class="card  ">
        <div class="product-image-container border" style="display: flex;">
          <img alt="Card image cap" class="card-img-top mx-auto" [src]="item.imageUrl">
        </div>
        <div class="card-block p-2">
          <h6 class="card-title">{{item.name}}</h6>
          <p class="card-text">{{item.price}}</p>
        </div>
        <div class="card-footer p-2">
          <small class="text-muted">{{item.updated}}</small>
        </div>
      </div>
    </div>
  </div>
</div>