<div class="bodyContainer container-fluid">
  <app-banner [brandName]="brandName"></app-banner>
  <app-search-bar></app-search-bar>

  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true">
      <app-side-navbar></app-side-navbar>
    </md-sidenav>
    <router-outlet></router-outlet>

  </md-sidenav-container>

  <button md-raised-button>
  Angular Material works!
  <md-icon>done</md-icon>
</button>

  <a md-raised-button routerLink=".">Raised button</a>

  <a md-fab routerLink=".">
    <md-icon>check</md-icon>
  </a>
  <a md-mini-fab routerLink=".">
    <md-icon>check</md-icon>
  </a>

  <footer class="bd-footer text-muted">
    <div class="container">
      <ul class="bd-footer-links">
        <li><a href="https://github.com/">GitHub</a></li>
        <li><a href="https://twitter.com/">Twitter</a></li>
      </ul>
      <p>Abcd efg hijk lmno pq rstuv wxyz.</p>
      <p>Abcd efg hijk lmno pq rstuv wxyz.</p>
    </div>
  </footer>
</div>