<div class="banner">
  <div class="banner-container container-fluid">
    <div class="row py-1">
      <div class="col-6">
        <div class="input-group">
          <div class="">
            <button routerLink="/" >
             <img class="logo-image d-inline-block" src="../assets/images/logo.png" alt="logo" />
              <span class="btn py-1 px-1 d-inline-block" id="">
                  <span class="brand-name">{{brandName}}</span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-6 text-right align-middle align-self-center">
        <div class="">
          <button md-button (click)="onSignInorOutClick()" class="no-decoration">{{signInOrOut}}
            <md-icon class="align-middle">person</md-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>