<div class="banner">
  <div class="banner-container container-fluid">
    <div class="row py-1">
      <div class="col-6">
        <div class="input-group">
          <img class="logo-image" src="../assets/images/logo.png" alt="logo" />
          <span class="btn py-1" id="">
              <span class="brand-name">{{brandName}}</span>
          </span>
        </div>
      </div>
      <div class="col-6 text-right  align-middle align-self-center">
        <input type="button" class="btn pr-2 d-inline-block align-self-center" value="sign-in" />
        <input type="button" class="btn pr-2 d-inline-block align-self-center" value="Register" />
      </div>
    </div>
  </div>
</div>