<md-sidenav-container>
  <md-sidenav #sidenav [mode]="navBarMode" opened="false">
    <app-products-filter></app-products-filter>
  </md-sidenav>
  <div class="product-list-container">
    <div class="product-list-heading py-1">
      <a class="d-inline-block align-middle" style="width: 25px; cursor: pointer; user-select: none;" (click)="toggleSidebar()">
        <md-icon>menu</md-icon>
      </a>
      <h1 class="d-inline-block" style="font-size: 1.5rem;">Product List</h1>
    </div>
    <div class="card-deck-container">
      <app-card-deck [productList]="productList"></app-card-deck>
    </div>
  </div>
</md-sidenav-container>