<div class="form-container">
  <a routerLink="/login" id="goback">Go back</a>
  <h2>Custom Login</h2>

  <span class="error" *ngIf="error">{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

    <md-input-container class="">
      <input mdInput placeholder="Email Address" (ngModel)="email" name="email" required>
    </md-input-container>
    <md-input-container class="">
      <input mdInput placeholder="Password" type="password" (ngModel)="password" name="password" required>
    </md-input-container>

    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Log in</button>
    <a routerLink="/signup" class="alc">Don't have an account?</a>
  </form>
</div>