/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

button:focus {
    outline: none;
}
button {
    background-color: transparent;
    border: none;
}
.no-background {
    background-color: transparent;
}
.span-button {
    background-color: transparent;
    border: none;
}

a.no-decoration {
    text-decoration: none;
}